## Tuples

Value pairs

In [1]:
(True, 'hello')

(True, 'hello')

In [2]:
1, 10

(1, 10)

In [3]:
x, y = 20, 30
print (x, y)

20 30

In [6]:
def get_score(hw, midterm, final):
  # ..
  return (92, 'A')

score, letter_grade = get_score(100, 80, 90)

print ('score: ', score)
print ('letter grade', letter_grade)

score:  92
letter grade A

## Lists

Collection of stuff / mutable

In [8]:
[1,2,3]

[1, 2, 3]

In [9]:
arr = [1, 'joe', None]
arr

# arr.append('jack')

[1, 'joe', None]

In [10]:
arr

[1, 'joe', None]

In [11]:
for i in arr:
    print(i, ':', type(i))

1 : <class 'int'>
joe : <class 'str'>
None : <class 'NoneType'>

In [12]:
state_names = ["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District ", "of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

In [13]:
state_names[0]

'Alaska'

In [16]:
number = list(range(100))
# number

In [17]:
number[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
number[ :10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
number[10: 15]

[10, 11, 12, 13, 14]

In [20]:
number[10: 70: 2]

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68]

In [21]:
number[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [24]:
number[::-1][-10:]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [25]:
rec = '20210203MEHMET      SARICA        '

rec[:8]

'20210203'

In [26]:
rec[8:15]

'MEHMET '

## Functions

can be defined anywhere

In [30]:
print ('before function definition')

def some_function():
    print('in function')

# some_function()

print ('after function definition')

before function definition
after function definition

In [28]:
some_function()
some_function()

in function
in function

Lexical scoping: 

variables defined outside are available inside the function but variables defined inside the functions are not available outside.

In [34]:
x = 5

print ('before function definition', x)

def some_function():
    print('in function', x)

some_function()

print ('after function definition', x)

before function definition 5
in function 5
after function definition 5

In [35]:
def some_function():
    m = 5

some_function()
print(m)

NameError: name 'm' is not defined

In [38]:
# x = 5

# print ('before function definition', x)

# def some_function():
#     global x
#     x = 6
#     print('in function', x)

# some_function()

# print ('after function definition', x)

In [39]:
# we can pass arguments

def print_person(name, lastname):
    print(name, lastname)

print_person('john', 'doe')

john doe

In [42]:
# we can define parameters with default values
def print_person(name, lastname, age=25):
    print(f'{name} {lastname} is {age} years old!')
#     return None

print_person('john', 'doe')
print_person('john', 'doe', 40)

john doe is 25 years old!
john doe is 40 years old!

In [43]:
# we can also return values

from datetime import datetime

def calculate_age(birth_year):
    today = datetime.today()
    return today.year - birth_year

calculate_age(1980)

41

In [44]:
age = calculate_age(1950)
print_person('jack', 'smith', age)

jack smith is 71 years old!

In [45]:
# if you don't return anything it will implicitly return None

def some_function():
    print ('hello')

value = some_function()
print(value)

hello
None

Mutable/Immutable

In [48]:

def some_function(value):
    print('in function before changing value', value)
    value = 6
    print('in function after changing value', value)
#     print(locals())



x = 5
some_function(x)
print('after running function', x)

in function before changing value 5
in function after changing value 6
after running function 5

In [49]:
def some_function2(value):
    print('in function before changing value', value)
    value = 6
    print('in function after changing value', value)
    return value

x = 5
x = some_function2(x)
print('after running function', x)

in function before changing value 5
in function after changing value 6
after running function 6

In [51]:
# arr = [1,2,3]
# print(type(arr))

# def arr_function(arr):
#     arr.append(3)
#     arr = 3 

# print(arr)

# arr = 3
# # arr_function(arr)
# print(type(arr))
# print(arr)

In [ ]:
# x = 'test'
# some_function(x)
# print('after running function', x)

In [ ]:
# def sum(number1, number2, number3):
#     return number1 + number2 + number3

# sum(1,2,3)

# del sum

In [53]:
x = [1,2,3]

print ('before function definition', x)

def some_function(arr):
    arr[0] = 'a'
    print('in function', arr)

some_function(x)

print ('after function definition', x)

before function definition [1, 2, 3]
in function ['a', 2, 3]
after function definition ['a', 2, 3]

In [54]:
x = {
    'a': 1,
    'b': 2
}
print ('before function definition', x)

def some_function(arr):
    arr[0] = 'a'
    print('in function', arr)

some_function(x)

print ('after function definition', x)

before function definition {'a': 1, 'b': 2}
in function {'a': 1, 'b': 2, 0: 'a'}
after function definition {'a': 1, 'b': 2, 0: 'a'}

Let's write a function to calculate student homework grades. 

Code below is fine but anything more complicated than this may lead to `figure 1`

In [55]:
grades = [100, 90, 70, 90, 80, 80, 90]
final_grade = sum(grades) / len(grades)
print (f'Your final grade is {final_grade}')

Your final grade is 85.71428571428571

we can change this as the following

In [56]:
def get_average(arr):  # generic names because I can use it on any arrays to take the average
    return sum(arr) / len(arr)

def get_final_homework_score(arr):
#     return 100
    return get_average(arr)

get_final_homework_score([100, 90, 70, 90, 80, 80, 90])

85.71428571428571

In [ ]:
get_final_homework_score([10,5])

Each function should only perform the functionality it claims that it does. It should be truthful.

In [ ]:
# Example:

def load_data(url):
    # loads only data
    data = None
    return data

def clean_data(data):
    # receives the data
    return data # this is cleaned data

def get_clean_data(url):
    data = load_data(url)
    data = clean_data(data)
    return data

Let's continue to our grade calculation. I wanna change how I calculate the results. 

Now I wanna take the average of first three scores.

In [57]:
grades = [100, 100, 100, 90, 80, 80, 90]

# the following will work but it's wrong. why??
first_three = grades[:3]
# print(first_three)
final_grade = get_final_homework_score(first_three)
print('Final hw score is ', final_grade)

Final hw score is  100.0

In [58]:
def get_final_homework_score(arr, method=None):
    if method == 'first_3':
        first_three = arr[:3]
        return get_average(first_three)
    else: 
        return get_average(arr)

In [59]:
final_grade = get_final_homework_score(grades)
print('Final hw score is ', final_grade)

Final hw score is  91.42857142857143

In [60]:
final_grade = get_final_homework_score(grades, method='average')
print('Final hw score is ', final_grade)

Final hw score is  91.42857142857143

In [61]:
final_grade = get_final_homework_score(grades, method='first_3')
print('Final hw score is ', final_grade)

Final hw score is  100.0

What if I keep changing the calcuation method and if I use this function in many places...

--

Functions are first class citizens! (*Important)

In [62]:
def get_final_homework_score(arr, func=None): # (list) => number
    if func == None:
        return get_average(arr)
    else: 
        return func(arr)

In [63]:
grades = [100, 100, 100, 90, 80, 80, 90]

def average_only_number_greater_than_80(arr):
    greater_th_80 = [x for x in arr if x > 80]
    average = get_average(greater_th_80)
    return average

average_only_number_greater_than_80(grades)

96.0

In [64]:
final_grade = get_final_homework_score(grades, func = average_only_number_greater_than_80)
print('Final hw score is ', final_grade)

Final hw score is  96.0

In [65]:
def only_last_two(arr):
    return get_average(arr[-2:])

final_grade = get_final_homework_score(grades, func = only_last_two)
print('Final hw score is ', final_grade)

Final hw score is  85.0

In [66]:
def give_good_score(arr):
    return 105

final_grade = get_final_homework_score(grades, func = give_good_score)
print('Final hw score is ', final_grade)

Final hw score is  105