In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Python

* scripting language

## Variables

* dynamically typed

In [2]:
x = 2

In [3]:
print(x)

2

In [4]:
x = 3
print(x)

3

In [5]:
x = 'joe'

In [6]:
print(x)

joe

In [7]:
x = 'hello ' + x

In [8]:
print(x)

hello joe

but it's also strongly typed

In [11]:
x = 2
x + 'joe'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Variable naming is important.

Otherwise it leads to: 

<img style="width:500px" src="https://i.pinimg.com/736x/84/d2/a3/84d2a331fd4ce73989ce29722a793c07.jpg"/>

## Arithmetic Operators

Let’s assume following two variables:

x = 5

y = 2
<table>
<tbody>
<tr style="background-color: #f2f2f2;">
<th>Operator</th>
<th>Name &amp; Meaning</th>
<th>Example &amp; Result</th>
</tr>
<tr>
<td>+</td>
<td>Addition: Add two operands or unary plus</td>
<td>x + y = 7</td>
</tr>
<tr>
<td>–</td>
<td>Subtraction: Subtract right operand from the left</td>
<td>x – y = 3</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication: Multiplies two operands</td>
<td>x * y = 10</td>
</tr>
<tr>
<td>/</td>
<td>Division: Divides left operand by the right one</td>
<td>x / y = 2.5</td>
</tr>
<tr>
<td>%</td>
<td>Modulus –&nbsp;Takes the remainder</td>
<td>x % y = 1</td>
</tr>
<tr>
<td>//</td>
<td>Floor division: Division that results into the whole number&nbsp;truncating digits after decimal point</td>
<td>x // y = 2</td>
</tr>
<tr>
<td>**</td>
<td>Exponent – left operand raised to the power of right</td>
<td>x**y (5^2) = 25</td>
</tr>
</tbody>
</table>

source: http://www.trytoprogram.com/python-programming/python-operators/#arithmetic_operators

In [12]:
x = 5 
y = 2

In [13]:
x + y

7

In [14]:
x - y

3

In [15]:
x * y

10

In [16]:
x / y

2.5

In [17]:
x % y # mode

1

In [18]:
x // y # floor

2

In [19]:
x ** y # x(5) to the yth (2) power - 5^2

25

In [20]:
z = x + 1
z

6

In [21]:
z += 1
z

7

In [ ]:
z -= 1
z

## Relational Operators

<table>
<tbody>
<tr style="background-color: #f2f2f2;">
<th>Operator</th>
<th>Meaning</th>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than: Eg. x &gt; y will return true if x is greater than y</td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than: Eg. x &lt; y will return true if x is less than y</td>
</tr>
<tr>
<td>==</td>
<td>Equal to: Eg. x == y will return true if x is equal to y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal to: x != y will return true if x is not equal to y</td>
</tr>
<tr>
<td>&gt;=</td>
<td>Greater Than or Equal to: Eg. x &gt;= y will return true if x is greater than or equal to y</td>
</tr>
<tr>
<td>&lt;=</td>
<td>Less Than or Equal&nbsp;to:&nbsp;Eg. x &lt;= y will return true if x is less than or equal to y</td>
</tr>
</tbody>
</table>

source: http://www.trytoprogram.com/python-programming/python-operators/#relational_operators

In [22]:
print(x, y)

5 2

In [23]:
x > y

True

In [24]:
x < y

False

In [25]:
x == y

False

In [26]:
x != y

True

In [27]:
x >= y

True

In [28]:
x <= y

False

In [39]:
x = 'adam'
y = 'jane'

In [40]:
x == y

False

In [41]:
x != y

True

In [42]:
x > y

False

In [43]:
x < y

True

In [44]:
'a' < 'z'

True

In [45]:
'' < 'aa'

True

## Logical Operators


<table>
<tbody>
<tr style="background-color: #f2f2f2;">
<th>Operator</th>
<th>Meaning</th>
</tr>
<tr>
<td>and</td>
<td>(x and y) will return true if x&nbsp;and y both are true</td>
</tr>
<tr>
<td>or</td>
<td>(x or y) will return true if&nbsp;either of x or y is true</td>
</tr>
<tr>
<td>not</td>
<td>(not x) will return true if x is false or will return false if x is true. <code>not</code> reverses or complements the operands</td>
</tr>
</tbody>
</table>

source: http://www.trytoprogram.com/python-programming/python-operators/#logical_operators

In [48]:
True and True

True

In [49]:
True and False

False

In [50]:
False and True

False

In [52]:
True or False

True

In [53]:
False or True

True

In [54]:
x = 5 
y = 2

(x == 5) and (y == 2)
 # T   and  T

True

In [55]:
x < 10

True

In [58]:
not x > 5

True

How about the followings?

In [59]:
# dataframe = is_correct and df

In [60]:
'jane' and 'joe'

'joe'

In [61]:
'joe' and 'jane'

'jane'

In [62]:
x = 'joe' and 'jack'
print(x)

jack

In [65]:
'jack' or 'joe'

'jack'

In [68]:
param = 5
x = param or 3
print(x)

5

In [69]:
x = input('enter a number ')
print ('your number is ' + x)

enter a number 34
your number is 34

In [70]:
type(x)

str

In [71]:
x = input('enter a number ')
print ('first number is ' + x)

y = input('enter a number ')
print ('second number is ' + y)

enter a number 12
first number is 12
enter a number 23
second number is 23

In [72]:
x + y

'1223'

In [73]:
int(x) + int(y)

35

In [74]:
float(x) + float(y)

35.0

## Your turn: Let's write some code! 

Write a code to calculate the volume of a cylinder. 

Let's not library for now: 
`pi = 22/7`
```
Volume = πr2h

```

In [ ]:
r = input('enter radius ')
h =  input('enter height ')
pi = 22/7

v = pi * int(r) ** 2 * int(h)

# print('Volume is ' , v)
print('Volume is ' + str(v))

# Control Flow

## if statement

In [ ]:
x = 5
y = 2

if(x > 0):
    print(str(x) + ' is greater than 0')

In [ ]:
if( x > 0 and y != 5 ):
    print(x, 'is greater than 0 and', y ,'is not equal to 5')
else: 
    # x <= 0 or y == 5
    print('??')

In [ ]:
x = 5
if (x == 5):
    print('x is 5')
elif(x == 7):
    print('or 7')
else:
    print("it's some number")

# Loops

## For loops

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [78]:
for i in range(100):
#     if(i % 2 == 0 and i % 7 == 0): # divisible by 14
    if i % 14 == 0:
        print(i)

0
14
28
42
56
70
84
98

In [79]:
for i in range(100):
    print (i)
    if i > 10:
        break

0
1
2
3
4
5
6
7
8
9
10
11

In [80]:
for i in range(20):
    if( i < 10):
        continue
    print (i)

10
11
12
13
14
15
16
17
18
19

In [82]:
# is i available here?
print(i)

19

In [85]:
# globals()

In [86]:
globals()['i']

19

## While

In [87]:
i = 0
while(i < 10):
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [88]:
while(True):
    answer = input("Duck: what's your name? ")
    
    if answer == 'shut up':
        brake #intentionally misspelled
#         break

Duck: what's your name? sdfa
Duck: what's your name? adf
Duck: what's your name? adfa
Duck: what's your name? dfas
Duck: what's your name? shut up

NameError: name 'brake' is not defined

In [89]:
while(True):
    answer = input("Duck: what's your name? ")
    
    if answer != 'shut up':
        continue
    
    break

Duck: what's your name? fadf
Duck: what's your name? adf
Duck: what's your name? shut up

## Your turn: Let's write some code! 

Let's write a guessing game! 

The computer will generate a random number between 0 - 100. 
We will try to guess the number. It will say up or down until we guess the number correctly!

```
eg: 
enter a number >> 10 
up
...
enter a number >> 50
down
...
enter a number >> 32
bingo

-- if you want a bit more changellenge (implement the following also)
do you want to try again? >> 
```

In [90]:
import random
number = random.randint(0, 100)
# number

while(True):
    guess = input('enter a number ')
    guess = int(guess)
    
    if guess < number:
        print('go up')
        continue
    
    if guess > number:
        print('go down')
    else:
        print('bingo')
        break

enter a number 50
go down
enter a number 25
go up
enter a number 36
go up
enter a number 45
go down
enter a number 40
go down
enter a number 38
go down
enter a number 37
bingo