In [1]:
import pandas as pd
pd.__version__

'1.2.4'

CSV is based on 
https://www.bowl.com/Open_Championships/Open_Championships_Home/Past_Results_and_History/

Load the file into Pandas

In [2]:
data_url = "https://raw.githubusercontent.com/msaricaumbc/DS601_Fall21/main/Week04/data/bowling_stats.csv"

df = pd.read_csv(data_url)

In [3]:
df

     2018       Syracuse    N.Y.      7    556
0    2017      Las Vegas    Nev.   10.0  286.0
1    2016           Reno    Nev.    8.0   63.0
2    2015        El Paso   Texas    7.0  315.0
3    2014           Reno    Nev.    9.0   24.0
4    2013           Reno    Nev.   10.0  253.0
..    ...            ...     ...    ...    ...
110  1905      Milwaukee    Wis.  217.0    NaN
111  1904      Cleveland    Ohio  112.0    NaN
112  1903   Indianapolis    Ind.   78.0    NaN
113  1902        Buffalo    N.Y.   61.0    NaN
114  1901        Chicago    Ill.   41.0    NaN

[115 rows x 5 columns]