data source:<BR>
https://www.lendingclub.com/info/download-data.action

In [1]:
import time
import pandas
print('Pandas',pandas.__version__)

Pandas 1.2.4

In [2]:
start_time = time.time()

loans_2007 = pandas.read_csv('../data/LoanStats3a.csv', skiprows=1, low_memory=False)
print(time.time() - start_time,'seconds')
loans_2007.shape

0.6775259971618652 seconds

(42538, 145)

In [3]:
pandas.set_option("display.max_rows", 999)
pandas.set_option("display.max_columns", 999)

In [4]:
loans_2007.dtypes

id                                             object
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                               object
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                     object
total_acc                                     float64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                     float64
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_earliest_cr_line                      float64
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                 float64
hardship_reason                               float64
hardship_status                               float64
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                           float64
hardship_end_date                             float64
payment_plan_start_date                       float64
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                          float64
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [5]:
loans_2007['grade']

0          B
1          C
2          C
3          C
4          B
        ...
42533      B
42534      A
42535      A
42536    NaN
42537    NaN
Name: grade, Length: 42538, dtype: object

In [6]:
loans_2007['grade'].nunique()

7

In [7]:
loans_2007['grade'].value_counts()

B    12389
A    10183
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64

https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

In [8]:
loans_2007['grade'] = loans_2007['grade'].astype('category')

In [9]:
loans_2007['grade'].dtype

CategoricalDtype(categories=['A', 'B', 'C', 'D', 'E', 'F', 'G'], ordered=False)

In [10]:
loans_2007['home_ownership'][0:10]

0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
5    RENT
6    RENT
7    RENT
8     OWN
9    RENT
Name: home_ownership, dtype: object

In [11]:
loans_2007['home_ownership'].nunique()

5

In [12]:
loans_2007['home_ownership'].value_counts()

RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

In [13]:
loans_2007['home_ownership'] = loans_2007['home_ownership'].astype('category')

In [14]:
loans_2007['revol_util'][0:10]

0    83.7%
1     9.4%
2    98.5%
3      21%
4    53.9%
5    28.3%
6    85.6%
7    87.5%
8    32.6%
9    36.5%
Name: revol_util, dtype: object

In [15]:
loans_2007['revol_util as percentage'] = loans_2007['revol_util'].astype('float64')

ValueError: could not convert string to float: '83.7%'

In [16]:
loans_2007['revol_util']

0        83.7%
1         9.4%
2        98.5%
3          21%
4        53.9%
         ...
42533      NaN
42534      NaN
42535      NaN
42536      NaN
42537      NaN
Name: revol_util, Length: 42538, dtype: object

In [17]:
loans_2007['revol_util_temp'] = [str(i).replace('%', '') for i in loans_2007['revol_util']]
loans_2007['revol_util as percentage'] = loans_2007['revol_util_temp'].astype('float64')
loans_2007.drop('revol_util_temp', axis=1, inplace=True)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html

In [18]:
# or you can do the following
loans_2007['revol_util as percentage'] = loans_2007['revol_util'].str.replace('%','').astype('float64')

In [19]:
loans_2007['revol_util as percentage'][0:5]

0    83.7
1     9.4
2    98.5
3    21.0
4    53.9
Name: revol_util as percentage, dtype: float64

In [21]:
# loans_2007['revol_util as percentage'].hist()

In [22]:
series_of_type_per_column = loans_2007.dtypes

In [23]:
for col,col_type in series_of_type_per_column.iteritems():
    if(col_type=='object'):
        print(col,'has',loans_2007[col].nunique(),'unique entries')

id has 3 unique entries
term has 2 unique entries
int_rate has 394 unique entries
sub_grade has 35 unique entries
emp_title has 30658 unique entries
emp_length has 11 unique entries
verification_status has 3 unique entries
issue_d has 55 unique entries
loan_status has 4 unique entries
pymnt_plan has 1 unique entries
desc has 28963 unique entries
purpose has 14 unique entries
title has 21264 unique entries
zip_code has 837 unique entries
addr_state has 50 unique entries
earliest_cr_line has 530 unique entries
revol_util has 1119 unique entries
initial_list_status has 1 unique entries
last_pymnt_d has 112 unique entries
next_pymnt_d has 98 unique entries
last_credit_pull_d has 138 unique entries
application_type has 1 unique entries
hardship_flag has 1 unique entries
disbursement_method has 1 unique entries
debt_settlement_flag has 2 unique entries
debt_settlement_flag_date has 63 unique entries
settlement_status has 3 unique entries
settlement_date has 61 unique entries

In [24]:
first_n_entries=5
for col,col_type in loans_2007.dtypes.iteritems():
    if(col_type=='object'):
        print('\n',col,'has',loans_2007[col].nunique(),'unique entries; first ',first_n_entries,'are')
        print(loans_2007[col][0:first_n_entries])

 id has 3 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: id, dtype: object

 term has 2 unique entries; first  5 are
0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

 int_rate has 394 unique entries; first  5 are
0     10.65%
1     15.27%
2     15.96%
3     13.49%
4     12.69%
Name: int_rate, dtype: object

 sub_grade has 35 unique entries; first  5 are
0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

 emp_title has 30658 unique entries; first  5 are
0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

 emp_length has 11 unique entries; first  5 are
0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

 verification_status has 3 unique entries; first  5 are
0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

 issue_d has 55 unique entries; first  5 are
0    Dec-2011
1    Dec-2011
2    Dec-2011
3    Dec-2011
4    Dec-2011
Name: issue_d, dtype: object

 loan_status has 4 unique entries; first  5 are
0     Fully Paid
1    Charged Off
2     Fully Paid
3     Fully Paid
4     Fully Paid
Name: loan_status, dtype: object

 pymnt_plan has 1 unique entries; first  5 are
0    n
1    n
2    n
3    n
4    n
Name: pymnt_plan, dtype: object

 desc has 28963 unique entries; first  5 are
0      Borrower added on 12/22/11 > I need to upgra...
1      Borrower added on 12/22/11 > I plan to use t...
2                                                  NaN
3      Borrower added on 12/21/11 > to pay for prop...
4      Borrower added on 12/21/11 > I plan on combi...
Name: desc, dtype: object

 purpose has 14 unique entries; first  5 are
0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

 title has 21264 unique entries; first  5 are
0                Computer
1                    bike
2    real estate business
3                personel
4                Personal
Name: title, dtype: object

 zip_code has 837 unique entries; first  5 are
0    860xx
1    309xx
2    606xx
3    917xx
4    972xx
Name: zip_code, dtype: object

 addr_state has 50 unique entries; first  5 are
0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

 earliest_cr_line has 530 unique entries; first  5 are
0    Jan-1985
1    Apr-1999
2    Nov-2001
3    Feb-1996
4    Jan-1996
Name: earliest_cr_line, dtype: object

 revol_util has 1119 unique entries; first  5 are
0    83.7%
1     9.4%
2    98.5%
3      21%
4    53.9%
Name: revol_util, dtype: object

 initial_list_status has 1 unique entries; first  5 are
0    f
1    f
2    f
3    f
4    f
Name: initial_list_status, dtype: object

 last_pymnt_d has 112 unique entries; first  5 are
0    Jan-2015
1    Apr-2013
2    Jun-2014
3    Jan-2015
4    Jan-2017
Name: last_pymnt_d, dtype: object

 next_pymnt_d has 98 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: next_pymnt_d, dtype: object

 last_credit_pull_d has 138 unique entries; first  5 are
0    Dec-2018
1    Oct-2016
2    Jun-2017
3    Apr-2016
4    Apr-2018
Name: last_credit_pull_d, dtype: object

 application_type has 1 unique entries; first  5 are
0    Individual
1    Individual
2    Individual
3    Individual
4    Individual
Name: application_type, dtype: object

 hardship_flag has 1 unique entries; first  5 are
0    N
1    N
2    N
3    N
4    N
Name: hardship_flag, dtype: object

 disbursement_method has 1 unique entries; first  5 are
0    Cash
1    Cash
2    Cash
3    Cash
4    Cash
Name: disbursement_method, dtype: object

 debt_settlement_flag has 2 unique entries; first  5 are
0    N
1    N
2    N
3    N
4    N
Name: debt_settlement_flag, dtype: object

 debt_settlement_flag_date has 63 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: debt_settlement_flag_date, dtype: object

 settlement_status has 3 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: settlement_status, dtype: object

 settlement_date has 61 unique entries; first  5 are
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: settlement_date, dtype: object